.container {
    background-color: #202527;
    width: 600px;
    min-height: 250px;
    max-height: 250px;
    overflow: auto;
    color: #0ce290;
    border: 1px solid #353A3C;
    margin-top: 8px;
    font-size: 16px;
}

.container p {
    padding-left: 13px;
}